:root {

    --bg: #222222;

}

button[data-md-color-primary=grey] {
    background-color: var(--bg);
}

[data-md-color-primary=grey] .md-typeset a {
    color: var(--bg);
}

[data-md-color-primary=grey] .md-header,
[data-md-color-primary=grey] .md-hero {
    background-color: var(--bg);
}

[data-md-color-primary=grey] .md-nav__link--active,
[data-md-color-primary=grey] .md-nav__link:active {
    color: var(--bg);
}

[data-md-color-primary=grey] .md-nav__item--nested>.md-nav__link {
    color: inherit
}

@media only screen and (max-width:59.9375em) {

    [data-md-color-primary=grey] .md-nav__source {
        background-color: var(--bg);
    }
    
}

@media only screen and (max-width:76.1875em) {

    html [data-md-color-primary=grey] .md-nav--primary .md-nav__title--site {
        background-color: var(--bg);
    }

}

@media only screen and (min-width:76.25em) {

    [data-md-color-primary=grey] .md-tabs {
        background-color: var(--bg);
    }

}

.highlight pre {
    padding: 1.2rem;
    border: 1px solid #e8e8e8;
}

a.viewcode-back {
    display: block;
    margin-bottom: 0.75rem;
}