h1,
h2,
.navbar-nav > .active > .nav-link {
    color: #333333 !important;
}

li:not([class]) a:not([class]),
a.reference.internal,
a.reference.internal > span {
    color: #555555 !important;
}

.pre,
.descclassname {
    color: #858585;
}

a.headerlink,
.descname {
    color: #121212;
}

a.headerlink:hover {
    background-color: #888888;
}

main img {
    margin: 30px 0;
}

ul.search li {
    padding: 5px 0;
    background-image: none;
}